doctype html
html
  head
    title Title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
  body
    .container
      block content
      br
      hr
      footer
        p Copyright &copy; 2018
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
