/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Roboto', sans-serif;
  padding-top: 0px;
  /* line-height: 22px; */
  font-size: 18px;
  color: #010000;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  background: #e6e6e6;
}

a{
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

a:hover{
  color: #ff1755;
}

a, a:hover{
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.div-content{
  padding: 30px;
}

#container{
  width: 100%;
  max-width: 1345px;
  margin: 0 auto;
  padding: 30px 0;
  background: white;
}

header{
  display: block;
  width: 100%;
  height: 50px;
  background-color: white;
  position: relative;
}

header .logo img{
  position: absolute;
  left: 10px;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-50%); 
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav{
  display: inline-block;
  width: 100%;
  /* height: 5%; */
  font-size: 0%;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  background: black;
  color: white;
}

nav, 
nav ul{
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline;
  float: left;
  margin: 0 5px 0 0;
}

nav ul li .right{
  float: right;
  margin: 0 5px 0 0;
}

nav ul li a{
  display: block;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: white;
  padding: 15px 20px;
}

nav ul li a:hover{
  background: gray;
  color: black;
}

#container .main{
  display: block;
  margin: 35px 0;
  padding: 0 10px;
}

footer{
  background: gray;
  color:rgb(221, 215, 215);
  min-height: 250px;
}

button {
  background-color: #4CAF50;
  color: white;
  margin: 15px 10% 15px 30%;
  height: 50px;
  float: right;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 60%;
  border-radius: 10px;
}

button:hover{
  background: #0f3a09;
}
button .cancelbtn{
  float: right;
}
input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#container .centered-container{
  padding-top: 20px;
  border: solid;
  border-color: #c2bebe;
  border-width: 1px;
  border-radius: 6px;
  width: 30%;
  min-width: 400px;
  min-height: 350px;
  height:500px;
  max-height: 600px;
  margin: 50px auto;
  color: black;
  background: white;
  border-radius: 10;
  text-align: center;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
  margin: 15px 5% 15px 35%;
  width: 60%;
}

@media only screen and (max-width:1345){
  #container{
    width:auto;
    margin: 0 3%;
  }
}